<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Mauve</string>
    <key>CFBundleVersion</key>
    <string>2.3.1</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleGetInfoString</key>
    <string>Mauve 2.3.1, (c) 2003-2009  http://gel.ahabs.wisc.edu/mauve</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIdentifier</key>
    <string>org.gel.mauve.MauveBundle</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>mauve.icns</string>
    <key>Java</key>
    <dict>
        <key>MainClass</key>
        <string>org.gel.mauve.gui.Mauve</string>
        <key>JVMVersion</key>
        <string>1.4+</string>
        <key>ClassPath</key>
        <array>
            <string>$JAVAROOT/Mauve.jar</string>
            <string>$JAVAROOT/ext/biojava-1.5.jar</string>
            <string>$JAVAROOT/ext/bytecode.jar</string>
            <string>$JAVAROOT/ext/commons-cli.jar</string>
            <string>$JAVAROOT/ext/commons-collections-2.1.jar</string>
            <string>$JAVAROOT/ext/commons-dbcp-1.1.jar</string>
            <string>$JAVAROOT/ext/commons-pool-1.1.jar</string>
            <string>$JAVAROOT/ext/gnu-getopt.jar</string>
            <string>$JAVAROOT/ext/jakarta-regexp.jar</string>
            <string>$JAVAROOT/ext/retroweaver-rt-2.0.7.jar</string>
            <string>$JAVAROOT/ext/xercesImpl.jar</string>
            <string>$JAVAROOT/ext/xml-apis.jar</string>
            <string>$JAVAROOT/ext/zeus-jscl.jar</string>
        </array>
        <key>VMOptions</key>
        <string>-Xmx500m</string>
        <key>Properties</key>
        <dict>
            <key>com.apple.mrj.application.apple.menu.about.name</key>
            <string>Mauve</string>
            <key>apple.awt.textantialiasing</key>
            <string>true</string>
            <key>com.apple.smallTabs</key>
            <string>true</string>
            <key>apple.laf.useScreenMenuBar</key>
            <string>false</string>
            <key>com.apple.mrj.application.live-resize</key>
            <string>true</string>
            <key>apple.awt.antialiasing</key>
            <string>true</string>
            <key>apple.awt.showGrowBox</key>
            <string>true</string>
        </dict>
    </dict>
</dict>
</plist>
